.childofbooking
{

  margin-top : 150px;
//  background-color: #CCCCCC;
}

#pginchildofbooking
{
    margin-left : 250px;
}

#dropoffsearchbar
{   
    margin-top : 40px;
    width : 700px;
}

#dropoff-locationlist
{
    margin-top: 70px;
    width : 500px;
}

#Dropoff-choosedropofftxt
{
    margin-top : 50px;
}


