#checkinfoform
{
    margin-left : 170px;
    width : 700px;
}


#price-superhead
{

width : 600px;
  margin-left : 220px;

 
}

#price-head

{  
    /*margin-left : 50px;*/
    padding-left :450px;
    background-color: #e5dee4;
}
