#img-package{
    margin-top : 50px;
    margin-left : 170px;
    width : 200px;
}

#header-payment{
margin-top : 50px;
}

.thaitext{
    margin-left: 20px;
    margin-top: 50px;
}

#dashboard
{
    margin-left :100px;
    margin-top : 25px;
}