#service-booking-button-top-1
{
    margin-top :-150px;
    margin-left :610px;
}


#service-booking-button-top-2
{
    margin-top :-190px;
    margin-left :755px;
}

#service-booking-search
{
    margin-top : 0px;
    width : 500px;
    margin-left : 200px;
    /*padding-left :px;*/

    
}

#service-booking-searchb
{
    margin-top : 0px;
  
    /*padding-left :px;*/

    
}

#fourbuttonrow
{
    margin-top : 50px;
}

#fourbuttonrow-1
{
    margin-left : 0px;
    margin-top : 50px;

}

#fourbuttonrow-2
{
        margin-top : 50px;
        margin-left : 600px;
}

#fourbuttonrow-3
{
        margin-top : 50px;
        margin-left : 10px;
}

#fourbuttonrow-4
{
        /*color : #6600CC;
        background-color : #6600CC;*/
        margin-top : -52px;
        margin-left : 860px;
}

#testnaja
{
    margin-top: -18px;
}

#booking-#
{
    /*margin-top : 30px;*/
}

#header-prepare
{
    text-align: center;
}

.cell
{
    margin-top : 10px;
    text-align: center;
    margin-bottom : 10px;
}

#paid-paynow{
    margin-top: -5px;
}