#body-header
{
	padding-top: 200px;
}
#Body-Tracking
{
	text-align: center ;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../../pic/sub-cat-img-shipping-api.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: repeat;
    color: white;
   // text-shadow: black 0.3em 0.3em 0.3em;
}

#body-left-column-top
{
//	margin-top:20px;
	background-color:#5C3258 !important;
	color:#FFF;
}

 #Body-logistic-logo
{
	padding-top: 30px;
	padding-left:  180px;
	padding-bottom: 30px;

}

 #Body-logistic
{
	padding-top: 30px;
	text-align: center ;
	background-color: #FFF;
    //background-image: url('../../pic/logistic-truck.jpg');

}

.img-circle {
    
  background-position-x: center ;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: 180%;
  width: 170px;
  height: 170px;
  border-radius: 30%;
  display: block;
  margin: auto;

}

#Body-Promotion
{
padding-top: 50px;

}

