#booking-chooselogistic-table
{
    margin-left : -230px;
   width : 1000px;
   margin-top : 50px;
}

#CLogistic-Back-button
{
margin-top : 50px;
margin-left : 30px;


}

#CLogistic-Save-button
{
margin-top : 50px;
margin-left :800px;
}